@media (max-width: 576px) {
  /*dispositivos extra pequenos*/
  /* start config main ads section*/
  .promotional-ads .header-ads {
    max-height: 80px;
  }

  .promotional-ads .header-ads {
    font-size: 14px;
    line-height: 18px;
  }

  .main-ads {
    flex-direction: column;
  }

  .main-ads .main-items {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }

  .main-ads .logo {
    width: 20%;
    position: relative;
    margin: 20px auto 0;
    display: block;
  }

  .main-ads .main-items-config .main-description {
    font-size: 27px;
    line-height: 30px;
    position: relative;
    margin-top: 20px;
    display: block;
    text-align: center;
    margin-bottom: 0;
  }

  .text-hilighted-1 {
    font-size: 27px;
    line-height: 30px;
  }

  .main-ads .main-items-config .main-ads-text {
    position: relative;
    display: block;
    font-size: 13px;
    padding: 20px;
    margin-bottom: 0;
  }

  .main-ads .main-items-config .main-list-ads {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .main-ads .main-items-config .main-list-ads ul {
    font-size: 14px;
    line-height: 25px;
  }

  .main-ads .main-items-config .main-list-ads {
    gap: 0;
  }

  .main-ads .kit-img {
    margin: 0 auto;
    padding: 60px;
  }

  .main-purchase-link {
    font-size: 16px;
    line-height: 16px;
    margin: 0 auto 10px;
    padding: 20px 30px;
    text-align: center;
    width: 90%;
  }

  .safe-purchase-seal {
    margin: 20px auto;
    width: 90%;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }

  .order-4 {
    order: 4;
  }

  .order-5 {
    order: 5;
  }

  .order-6 {
    order: 6;
  }

  .hidden-in-desktop {
    display: inline-block;
  }

  .hidden-in-mobile {
    display: none;
  }
  /* end config main ads section*/
  /*Config second ads with video - second section*/

  .video-promotional {
    margin: 0 auto;
    width: 100%;
  }

  .video-promotional .second-ads {
    width: 100%;
  }

  .video-promotional .second-ads h1 {
    font-size: 22px;
    line-height: 30px;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  .video-promotional .second-ads p {
    font-size: 15px;
    line-height: 23px;
  }

  .video-promotional .second-ads .second-ads-video iframe {
    width: 100%;
    height: 100%;
  }
  /*End config second ads with video*/
  /*Start config third ads with carousel and real results*/

  .real-results .third-ads {
    width: 85%;
    overflow: hidden;
  }
  .real-results .third-ads .third-ads-h1-1 {
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .real-results .third-ads .text-third-ads-p-1 {
    margin: 0 auto 30px;
    text-align: center;
  }

  .s-3-carousel {
    white-space: nowrap;
  }

  .s-3-slide {
    display: inline-block;
    height: auto;
    width: 100%;
  }

  .real-results .third-ads .s-3-carousel {
    height: 230px;
    overflow: hidden;
  }
  

  .s-3-carousel:hover .s-3-slide {
    animation-play-state: running;
  }

  @keyframes slide1 {
    from {
      transform: translateX(5%);
    }
    to {
      transform: translateX(-38%);
    }
  }

  .real-results .third-ads .text-third-ads-p-2 {
    font-size: 9px;
    line-height: 9px;
    margin-bottom: 20px;
  }

  .real-results .third-ads h2 {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .real-results .third-ads .text-third-ads-p-3 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .main-purchase-link-2 {
    font-size: 16px;
    line-height: 16px;
    margin: 0 auto 10px;
    padding: 20px 30px;
    text-align: center;
    width: 100%;
  }

  .safe-purchase-seal-2 {
    margin: 20px auto;
    width: 100%;
  }
  /*End config third ads with carousel and real results*/

  /*
Start section 3
*/
  .section3-items {
    width: 90%;
  }

  .section-3 .section3-items .section-3-main-title {
    font-size: 27px;
    margin: 20px auto;
    text-align: center;
  }

  .section-3 .section3-items .s3-bg-p {
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .section-3 .section3-items .s3-cards {
    width: 100%;
    margin-bottom: 40px;
  }

  .section-3 .section3-items .s3-cards-items {
    width: 90%;
    height: 80%;
    padding: 20px;
    margin: 0 auto 10px
  }

  /*
End section 3
*/

  /*
Start section 4
*/

.section-4 {
    width: 100%;
    margin: 0 auto;
}

.section-4 .s-4-banner {
    margin-bottom: 35px;
}

.s-4-banner img {
    width: 100%;
    margin: 0 auto;
}

.section-4 .section-4-items .s-4-info {
    flex-direction: column;
    margin-bottom: 50px;
}

.section-4 .section-4-items iframe {
    width: 80%;
    height: 190px;
}

.section-4 .section-4-items .s-4-h1 {
    font-size: 27px;
    width: 80%;
    margin: 0 auto 30px;
}

.section-4 .s-4-info-descriptions p {
    width: 80%;
    margin: 10px auto 20px;
}

.section-4 .s-4-info-descriptions .s-4-p-1 {
    margin-bottom: 20px;
}

.section-4 .s-4-info-descriptions .main-purchase-link-s-4 {
    font-size: 16px;
    line-height: 16px;
    margin: 0 auto 10px;
    padding: 20px 30px;
    text-align: center;
  }
  
  .section-4 .s-4-info-descriptions .safe-purchase-seal-s-4 {
    margin: 20px auto 0px;
  }

  .section-4 .section-4-items .s-4-medias {
    width: 100%;
  }

  .section-4 .s-4-medias .s-4-cards-medias {
    flex-direction: column;
    gap: 40px;
  }
  
  .section-4 .s-4-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 20px 0px;
  }

 /*
End section 4
*/
/*
Start section 5
*/

.section-5 {
  width: 100%;
}

.section-5 .s-5-kit-compare {
  width: 90%;
  margin: 0 auto;
}

.section-5 .s-5-kit-compare .s-5-h1-1 {
  font-size: 22px;
  line-height: 29px;
  text-align: center;
}

.section-5 .s-5-kit-compare .s-5-p-1 {
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.section-5 .s-5-kit-compare .s-5-card-compare {
  flex-direction: column;
  gap: 40px;
  padding: 0px;
  width: 90%;
  margin-bottom: 80px;
  padding: 30px 0;
}

.section-5 .s-5-card-compare .s-5-compare-items {
  width: 100%;
}

.section-5 .s-5-compare-items img {
  width: 50%;
  height: 50%;
}

.section-5 .s-5-compare-items .s-5-h2-1 {
  font-size: 22px;
  line-height: 40px;
}

.section-5 .s-5-compare-items .s-5-h2-2 {
  font-size: 22px;
  line-height: 40px;
}

.section-5 .s-5-compare-items li {
  list-style: none;
  margin-left: 0px;
}

.section-5 .s-5-compare-items ul {
  padding: 5px;
}

.section-5 .s-5-feedbacks {
  margin: 0 auto;
}

.section-5 .s-5-feedbacks .s-5-h1-2 {
  font-size: 27px;
  line-height: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  text-align: center;
}

.section-5 .s-5-feedbacks p {
  font-size: 9px;
  line-height: 9px;
  margin-bottom: 50px;
}

/*
End section 5
*/

/*
Start section 6
*/

.section-6 .s-6-experts {
  flex-direction: column;
}

.section-6 .s-6-experts-text {
  width: 90%;
  margin: 0 auto;
}

.section-6 .s-6-experts-text .s-6-h1-1 {
  font-size: 27px;
  width: 100%;
  margin-bottom: 15px;
}

.section-6 .s-6-experts-text .s-6-p-1 {
  width: 90%;
  margin: 0 auto 30px;
}

.section-6 .s-6-experts .s-6-experts-img {
  width: 100%;
  margin: 0 auto;
}

.section-6 .s-6-experts .s-6-experts-img img {
  width: 90%;
  margin: 0 auto 30px;
  box-shadow: 4px 4px 0px 0px #ea455f;
}
/*
End section 6
*/

/*
Start section 7
*/

.section-7 .s-7-h1-1 {
  font-size: 27px;
  padding: 9px;
  margin-top: 50px;
}

.section-7 .s-7-space {
  display: none;
}

.section-7 .s-7-kit-cards {
  flex-direction: column;
  width: 90%;
  height: 100%;
}

.section-7 .s-7-kit-cards .s-7-kit-1 {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.section-7 .s-7-kit-cards .s-7-kit-2 {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.section-7 .s-7-kit-cards .s-7-kit-3 {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.section-7 .s-7-card-purchase-button .s-7-free-deliver {
  margin-bottom: 20px;
}


/*
End section 7
*/

/*
Start section 8
*/

.section-8 .s-8-satisfaction {
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.section-8 .s-8-satisfaction .s-8-h1-satisfaction-questions {
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
}

.section-8 .s-8-satisfaction details:last-child {
  margin-bottom: 50px;
}

.section-8 .s-8-satisfaction .s-8-questions {
  margin-bottom: 20px;
  width: 90%;
  margin: 0 auto 20px;
}

.section-8 .s-8-satisfaction .s-8-satisfaction-description {
  width: 100%;
}

.section-8 .s-8-satisfaction .s-8-satisfaction-description img {
  width: 70%;
  height: 70%;
  margin: 40px auto 0;
}

.section-8 .s-8-satisfaction .s-8-satisfaction-description h1 {
  text-align: center;
  width: 100%;
}

/*
End section 8
*/

/*
Start footer
*/
.footer-main {
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.footer-main .img-logo-footer {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.footer-main .footer-payment-methods .img-payment-footer {
  width: 60%;
  height: 60%;
}

.footer-main .footer-security .img-security-footer {
  width: 60%;
  height: 60%;
}




/*
End footer
*/

}
