body {
  font-family: "Sora", sans-serif;
}

/* start config header promotional*/
.promotional-ads .header-ads {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  max-height: 90px;
  color: var(--letter-promotional);
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  background-color: var(--promotional-background);
}

/*.header-slide {
    animation: 10s slide0 infinite linear;
}

@keyframes slide0 {
    from {
        transform: translateX(180%);
      }
      to {
        transform: translateX(-170%);
      }
}*/
/* end config header promotional*/

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*config main ads - first section*/
.main-ads {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/bg-web-1.png) no-repeat;
  background-size: cover;
  width: 100%;
}

.main-ads-items {
  margin-left: 165px;
  margin-right: 165px;
  max-width: 1410px;
}

.main-ads .main-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 89px;
  margin-bottom: 40px;
}

.main-ads .logo {
  width: 100px;
  height: 78px;
  margin-top: 85px;
}

.main-ads .main-items-config {
  display: flex;
  flex-direction: column;
  max-width: 665px;
}

.main-ads .main-items-config .main-description {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  line-height: 51px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.text-hilighted-1 {
  font-size: 38px;
  font-weight: 700;
  color: var(--letter-highlighted);
}

/*start config between img and text/list main information*/
.main-ads .main-items-config .main-ads-text {
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}

.main-ads .main-items-config .main-list-ads {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.main-ads .main-items-config .main-list-ads,
ul {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  list-style: square;
}

.main-ads .main-items .first-list {
  max-width: 353px;
}

.main-ads .main-items .second-list {
  max-width: 305px;
}

.main-ads .kit-img {
  width: 356px;
  height: 450px;
}
/*end config between img and text/list main information*/

/* start config link purchase button*/
.main-purchase-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 29px 68px;
  max-width: 640px;
  max-height: 81px;
  border-radius: 10px;
  background: #2ca63d;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 40px;
}
/* end config link purchase button*/

/* start config seal safe purchase*/
.safe-purchase-seal {
  display: flex;
  max-width: 332.857px;
  max-height: 30px;
  margin-bottom: 25px;
  margin-left: 100px;
}
/* end config seal safe purchase*/
/*end config main ads*/

/*Config second ads with video - second section*/
/*start config h1 and video*/
.video-promotional {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 92px 399px 22px 399px;
}

.second-ads {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-promotional .second-ads h1 {
  color: #ea455f;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  max-width: 642px;
  margin-bottom: 40px;
}

.video-promotional .second-ads p {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 31px;
  max-width: 610px;
  margin-bottom: 23px;
}

.video-promotional .second-ads video {
  width: 653px;
  height: 370px;
  border-radius: 15px;
  background: url(../img/Video-Promocional.png), lightgray 50% / cover no-repeat;
  margin-bottom: 22px;
}
/*end config h1 and video*/
/*Config third ads with carousel and real results - third section*/

.real-results {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-extenses);
}

.real-results .third-ads {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.real-results .third-ads .third-ads-h1-1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
  line-height: 46px;
  max-width: 722px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.real-results .third-ads .text-third-ads-p-1 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 60px;
}

.s-3-slide {
  display: inline-block;
  height: 620px;
  animation: 5s slide1 infinite linear;
}

.s-3-carousel:hover .s-3-slide {
  animation-play-state: paused;
}

.section-5 .s-5-slide img {
  width: 300px;
  border-radius: 20px;
  border: 2px solid #ff5783;
  position: relative;
  margin: 10px;
}

@keyframes slide1 {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(-100%);
  }
  /*0% {left: 0px;}
      12.5% {left: -300px;}
      25% {left: -600px;}
      37.5% {left: -900px;}
      50% {left: -1200px;}
      62.5% {left: -1500px;}
      75% {left: -1800px;}
      87.5% {left: -2100px;}
      100% {left: 0px;}*/
}

.real-results .third-ads .s-3-carousel {
  height: 230px;
  overflow: hidden;
}

.real-results .third-ads .img-carousel {
  width: 220px;
  border: 3px solid #fcc755;
  border-radius: 10px;
  margin: 10px;
}

.real-results .third-ads .text-third-ads-p-2 {
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  margin-top: 25px;
  margin-bottom: 44px;
}

.real-results .third-ads h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  line-height: 58px;
  margin-bottom: 40px;
}

.real-results .third-ads .text-third-ads-p-3 {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 25px;
}

/*
Start section 3
*/

.section-3 {
  background: url(../img/section-3-bg.png) no-repeat;
  background-size: cover;
}

.section-3 .bg-opacity {
  background-color: rgba(239, 239, 239, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-3 .section3-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
}

.section-3 .section3-items .section-3-main-title {
  color: #666;
  font-size: 40px;
  font-weight: 800;
  line-height: 46px;
  max-width: 531px;
  margin-top: 85px;
  margin-bottom: 40px;
}

.section-3 .section3-items .letter-highlighted-h1 {
  color: #ea455f;
}

.section-3 .section3-items .s3-bg-p {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.section-3 .section3-items .s-3-p {
  color: #030303;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

.section-3 .section3-items .s3-p-highlighted {
  font-weight: 600;
}

.section-3 .section3-items .s3-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 92px;
}

.section-3 .section3-items .s3-cards-items {
  width: 221px;
  height: 222px;
  border-radius: 20px;
  border-bottom: 3px solid #ea455f;
  border-left: 3px solid #ea455f;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
}

.section-3 .s3-cards-items h2 {
  color: #ea455f;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
}

.section-3 .s3-cards-items p {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}
/*
End section 3
*/

/*
Start section 4
*/
.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #efefef;
}

.section-4 .s-4-banner {
  margin-top: 20px;
  margin-bottom: 80px;
}

.section-4 .s-4-banner img {
  max-width: 1200px;
  max-height: 200px;
}

.section-4 .section-4-items {
  max-width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-4 .section-4-items .s-4-info {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 80px;
}

.section-4 .section-4-items .s-4-video {
  max-height: 400px;
  border-radius: 20px;
  border-bottom: 5px solid rgba(234, 69, 95, 0.8);
  border-left: 5px solid rgba(234, 69, 95, 0.8);
}

.section-4 .section-4-items .s-4-info-descriptions {
  display: flex;
  flex-direction: column;
}

.section-4 .section-4-items .s-4-info-descriptions {
  display: flex;
  flex-direction: column;
}

.section-4 .section-4-items .s-4-h1 {
  color: #666666;
  font-size: 33px;
  font-weight: 800;
  line-height: 39px;
  margin-bottom: 28px;
}

.section-4 .section-4-items .s-4-h1-span {
  color: #ea455f;
}

.section-4 .s-4-info-descriptions p {
  color: #030303;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 30px;
}

.section-4 .s-4-info-descriptions p span {
  font-weight: 600;
}

.section-4 .s-4-info-descriptions .main-purchase-link-s-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 29px 68px;
  width: 340px;
  height: 80px;
  border-radius: 10px;
  background: #2ca63d;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 20px;
}

.section-4 .s-4-info-descriptions .safe-purchase-seal-s-4 {
  max-width: 330px;
  max-height: 33px;
}

.section-4 .section-4-items .s-4-medias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4 .s-4-medias .s-4-text-center {
  text-align: center;
  margin-bottom: 80px;
  max-width: 550px;
}

.section-4 .s-4-medias .s-4-cards-medias {
  display: flex;
  gap: 102px;
  margin-bottom: 100px;
}

.section-4 .s-4-cards-medias .s-4-card-article {
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-4 .s-4-card-article .s-4-card-article-img {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 252px;
  height: 101px;
  background-color: #ffffff;
  border-radius: 15px;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.section-4 .s-4-card-article-img .r7-img {
  width: 233px;
}

.section-4 .s-4-card-article-img .estadao-img {
  width: 224px;
}

.section-4 .s-4-card-article-img .oglobo-img {
  width: 185px;
}

.section-4 .s-4-card-article p {
  color: #030303;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

.section-4 .s-4-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 3px solid #ebff0b;
  border-bottom: 3px solid #ebff0b;
  background: #9b0208;
  width: 100%;
  height: 160px;
}

.section-4 .s-4-footer .s-4-footer-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4 .s-4-footer .s-4-footer-items h1 {
  color: #fff000;
  font-size: 60px;
  font-weight: 600;
  line-height: 33px;
}

.section-4 .s-4-footer .s-4-footer-items p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 45px;
}
/*
End section 4
*/

/*
Start section 5
*/
.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #efefef;
}

.section-5 .s-5-kit-compare {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-5 .s-5-kit-compare .s-5-h1-1 {
  color: #ea455f;
  font-size: 33px;
  font-weight: 700;
  line-height: 41px;
  margin-top: 70px;
}

.section-5 .s-5-kit-compare .s-5-p-1 {
  color: #252525;
  font-size: 17px;
  font-weight: 500;
  line-height: 31px;
  margin-bottom: 40px;
}

.section-5 .s-5-kit-compare .s-5-card-compare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 6px 6px 25px 4px rgba(0, 0, 0, 0.25);
  gap: 230px;
  padding: 100px;
  margin-bottom: 80px;
}

.section-5 .s-5-card-compare .s-5-compare-items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-5 .s-5-compare-items img {
  width: 174px;
  height: 220px;
}

.section-5 .s-5-compare-items .s-5-h2-1 {
  color: #c80303;
  font-size: 26px;
  font-weight: 800;
  line-height: 47px;
}

.section-5 .s-5-compare-items .s-5-h2-2 {
  color: #202020;
  font-size: 26px;
  font-weight: 800;
  line-height: 47px;
}

.section-5 .s-5-compare-items li {
  color: #1a1a1a;
  font-size: 15px;
  font-weight: 500;
  line-height: 27px;
  margin-left: 50px;
}

.section-5 .s-5-feedbacks {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #9b0208;
  width: 100%;
}

.section-5 .s-5-feedbacks .s-5-h1-2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 800;
  line-height: 60px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.section-5 .s-5-feedbacks .s-5-h1-2 span {
  color: #fff000;
}

.s-5-feedbacks {
  overflow: hidden;
}

.s-5-carousel {
  white-space: nowrap;
}

.s-5-slide {
  display: inline-block;
  height: 620px;
  animation: 8s slide2 infinite linear;
}

.s-5-carousel:hover .s-5-slide {
  animation-play-state: paused;
}

.section-5 .s-5-slide img {
  width: 300px;
  border-radius: 20px;
  border: 2px solid #ff5783;
  position: relative;
  margin: 10px;
}

@keyframes slide2 {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-50%);
  }
  /*0% {left: 0px;}
    12.5% {left: -300px;}
    25% {left: -600px;}
    37.5% {left: -900px;}
    50% {left: -1200px;}
    62.5% {left: -1500px;}
    75% {left: -1800px;}
    87.5% {left: -2100px;}
    100% {left: 0px;}*/
}

.section-5 .s-5-carousel .s-5-carousel-items img {
  width: 300px;
  border-radius: 20px;
  border: 2px solid #ff5783;
}

.section-5 .s-5-feedbacks p {
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  margin-top: 10px;
  margin-bottom: 100px;
}

/*
End section 5
*/

/*
Start section 6
*/
.section-6 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-6 .section-6-gift {
  background: url(../img/Bg-section-6.png), no-repeat;
  background-image: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 448px;
}

.section-6 .section-6-gift .s-6-gift-text {
  width: 540px;
  height: 155px;
  border: 5px double #ffffff;
  padding: 11px 16px 10px 17px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
}

.section-6-gift .s-6-gift-text .s-6-gift-text-low {
  font-weight: 400;
  margin-top: 10px;
}

.section-6 .section-6-gift .s-6-gift-img {
  display: flex;
  width: 151px;
  height: 319px;
  margin-right: 100px;
}

.section-6 .section-6-gift .s-6-hidra {
  width: 151px;
  height: 319px;
}

.section-6 .section-6-gift .s-6-text-rotate {
  width: 100px;
  height: 100px;
  transform: rotate(36000deg);
  transition: 800s linear;
}

.section-6 .section-6-gift .s-6-rotate {
  margin-left: -80px;
  margin-top: -30px;
}

.section-6 .s-6-division {
  background: #ffffff;
  height: 40px;
  width: 100%;
}

.section-6 .s-6-experts {
  background: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.section-6 .s-6-experts-text {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.section-6 .s-6-experts-text .s-6-h1-1 {
  color: #666666;
  font-size: 33px;
  font-weight: 800;
  line-height: 39px;
  width: 391px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.section-6 .s-6-experts-text .s-6-h1-span {
  color: #ea455f;
}

.section-6 .s-6-experts-text .s-6-p-1 {
  color: #030303;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  width: 404px;
  margin-bottom: 60px;
}

.section-6 .s-6-experts-text .s-6-p-span {
  font-weight: 600;
}

.section-6 .s-6-experts .s-6-experts-img {
  display: flex;
  width: 500px;
}

.section-6 .s-6-experts .s-6-experts-img img {
  width: 494px;
  border-radius: 15px;
  box-shadow: 8px 8px 3px 0px #ea455f;
}

/*
End section 6
*/

/*
Start section 7
*/
.section-7 {
  background: #9b0802;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-height: 1300px;
}

.section-7 .s-7-h1-1 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 46px;
  margin-top: 110px;
  max-width: 995px;
}

/*Rever problema no espacamento final da section*/
.section-7 .s-7-space {
  width: 100%;
  height: 100px;
}
/*Rever problema no espacamento final da section*/

.section-7 .s-7-h1-1 .s-7-h1-1-span {
  color: #fff000;
}

.section-7 .s-7-kit-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  max-width: 1100px;
  max-height: 1000px;
}

.section-7 .s-7-kit-cards .s-7-kit-1 {
  background: #fff;
  border-radius: 10px;
  width: 310px;
  height: 822px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.section-7 .s-7-kit-cards .s-7-kit-2 {
  width: 344px;
  height: 910px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.section-7 .s-7-kit-cards .s-7-kit-3 {
  width: 310px;
  height: 910px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 120px;
}

.section-7 .s-7-kit-cards .s-7-kit-card-top-1,
.s-7-kit-card-top-2 {
  display: flex;
  height: 66px;
  width: 100%;
  top: 0;
  left: 0;
}

.section-7 .s-7-kit-card-top-1 .s-7-card-top-discount {
  background: #9b0208;
  box-shadow: -0.5px -0.5px 15px 0px rgba(239, 239, 239, 0.25);
  width: 87px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  padding: 11px;
}

.section-7 .s-7-kit-card-top-1 .s-7-card-top-treatment-days {
  color: #9b0208;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  width: 223px;
  padding: 15px;
}

.section-7 .s-7-kit-card-top-2 .s-7-card-top-discount {
  width: 104px;
  color: #9b0208;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  padding: 11px;
}

.section-7 .s-7-kit-card-top-2 .s-7-card-top-treatment-days {
  box-shadow: 0.5px -0.5px 15px 0px rgba(239, 239, 239, 0.25);
  border-radius: 0px 10px 0px 0px;
  background-color: #9b0208;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  width: 240px;
  padding: 15px;
}

.section-7 .s-7-kit-cards .s-7-kit-card-img-kit {
  display: flex;
  flex-direction: column;
  height: 260px;
  align-items: center;
  justify-content: center;
}

.section-7 .s-7-kit-card-img-kit .s-7-card-img {
  width: 202px;
  height: 202px;
  margin-top: 15px;
}

.section-7 .s-7-kit-cards .s-7-kit-card-img-kit p {
  color: #9b0208;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  margin-bottom: 15px;
  width: 100px;
}

.section-7 .s-7-kit-cards .s-7-brinde-span {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
}

.section-7 .s-7-kit-cards .s-7-card-descriptions {
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 16px;
}

.section-7 .s-7-kit-cards .s-7-card-descriptions ul {
  margin: 16px 23px 15px 34px;
}

.section-7 .s-7-kit-cards .s-7-card-descriptions li {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

.section-7 .s-7-kit-cards .s-7-card-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.section-7 .s-7-card-price .s-7-card-price-from {
  color: #9b0208;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-decoration-line: line-through;
}

.section-7 .s-7-card-price .s-7-card-price-installments {
  color: #4a4a4a;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
}

.section-7 .s-7-card-price .s-7-card-price-now {
  color: #9b0208;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.section-7 .s-7-card-price .s-7-card-price-direct {
  color: #4a4a4a;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 17px;
  margin-bottom: 20px;
}

.section-7 .s-7-card-price-direct .s-7-card-price-discount {
  font-weight: 800;
}

.section-7 .s-7-kit-cards .s-7-card-purchase-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-7 .s-7-kit-cards .s-7-card-purchase-button a {
  width: 245px;
  height: 55px;
  border-radius: 10px;
  background: #068518;
  padding: 20px 50px;
  margin-bottom: 40px;
}

.section-7 .s-7-card-purchase-button .main-purchase-link-s-7 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
}

.section-7 .s-7-card-purchase-button .s-7-free-deliver {
  width: 155px;
  height: 34px;
}

/*
End section 7
*/

/*
Start section 8
*/

.section-8 {
  display: flex;
  background: #efefef;
  width: 100%;
  height: 690px;
}

.section-8 .s-8-satisfaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}

.section-8 .s-8-satisfaction .s-8-satisfaction-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 533px;
  gap: 30px;
}

.section-8 .s-8-satisfaction .s-8-satisfaction-description img {
  width: 212px;
  height: 183px;
  margin-top: 80px;
}

.section-8 .s-8-satisfaction .s-8-satisfaction-description h1 {
  color: #ef455f;
  font-size: 26px;
  font-weight: 800;
  line-height: 26px;
  max-width: 413px;
}

.section-8 .s-8-satisfaction .s-8-satisfaction-description p {
  color: #7a7a7a;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

.section-8 .s-8-satisfaction .s-8-satisfaction-description p:last-child {
  margin-top: 30px;
  margin-bottom: 80px;
}

.section-8 .s-8-satisfaction .s-8-satisfaction-description p span {
  font-weight: 600;
}

/*
End section 8
/*
Start footer
*/
.footer-main {
  display: flex;
  background: #9b0208;
  height: 200px;
  width: 100%;
}

.footer-main .img-logo-footer {
  width: 134px;
  height: 104px;
  margin: 50px 60px 0px 235px;
}

.footer-main p {
  color: #fff000;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  margin: 40px 100px 20px 0px;
}

.footer-main .footer-payment-methods .img-payment-footer {
  width: 204px;
  height: 78px;
}

.footer-main .footer-security .img-security-footer {
  width: 154px;
  height: 77px;
}

/*
End footer
*/
